.btn-primary {
  background-color: #E0003C;
  border-color: #E0003C;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.show > .btn-primary.dropdown-toggle {
  background-color: #BC1340;
  border-color: #BC1340;
}

.btn-outline-primary {
  color: #E0003C;
  border-color: #E0003C;
}
.btn-outline-primary:hover,
.btn-outline-primary:focus,
.btn-outline-primary:active,
.btn-outline-primary.active,
.show > .btn-outline-primary.dropdown-toggle {
  color: #fff;
  background-color: #E0003C;
  border-color: #E0003C;
}

a,
a:visited,
a:active {
  color: #E0003C !important;
}
a:hover,
a:focus {
  color: #E0003C !important;
  text-decoration: underline;
}

.card {
  border-color: #E0003C;
  border-radius: 1rem !important;
}
.card-header {
  background-color: #E0003C;
  color: #fff;
  border-color: #E0003C;
  border-top-left-radius: 1rem !important;
  border-top-right-radius: 1rem !important;
  border-bottom-left-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}
.card-footer {
  border-color: #E0003C;
  border-radius: 1rem !important;
}

.text-muted {
  color: #8C8C8C !important;
}
